{
	"env": {
		"node": true,
		"es2020": true
	},
	"extends": ["eslint:recommended", "prettier"],
	"rules": {
		"semi": 0,
		"indent": "off",
		"no-tabs": "off",
		"no-unused-vars": "warn",
		"no-useless-catch": "off",
		"no-mixed-spaces-and-tabs": "off"
	}
}
